:root {
  --primary: #ff5a3c;
  --primary-hover: #fb412a;
  --secondary: #5c727d;
  --secondary-500: rgba(211, 211, 211, 0.7);
  --danger: #dc3545;
  --danger-hover: #a52734;
  --dark: #0f1519;
  --heading: #071c1f;
  --dark-bg: #333333;
  --light: #f5f5f5;
  --white: #fff;
  --light-bg: #444444;
  --border: #4d4d4d;
  --success: #1db954;

  --box-shadow-1: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background: transparent;
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 3px;
  transition: 0.3s all ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hover);
  transition: 0.3s all ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code_block {
  background: rgba(192, 192, 192, 0.2);
  border-radius: 2px;
  padding: 3px 6px;
  color: var(--secondary);
  font-weight: 600;
  font-size: 12px;
}

.landing_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #0f1519;
}

.form-control {
  border-radius: 0 !important;
}

select.form-select option:hover {
  background-color: var(--primary) !important;
}

.bg-dark {
  background: var(--dark) !important;
}

.bg_dark {
  background: var(--light) !important;
}

.bg_light {
  background: var(--light) !important;
}

.dark_bg {
  background: #0f1519;
}

.text_primary {
  color: var(--primary) !important;
}

.border_left {
  border-left: 3px solid var(--primary) !important;
  padding-left: 15px;
}

.crd {
  border-radius: 15px !important;
  overflow: hidden;
  width: 100%;
  background: var(--white) !important;
  border: 1px solid var(--white) !important;
}

.btn_primary {
  outline: none !important;
  border: none !important;
  padding: 18px 30px !important;
  font-weight: bold !important;
  border-radius: 0px !important;
  color: var(--white) !important;
  background: var(--primary) !important;
  box-shadow: var(--box-shadow-1) !important;
  transition: 0.3s all ease-in-out;
}

.btn_primary:hover {
  color: var(--white) !important;
  background: var(--primary-hover) !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.4) !important;
  transition: 0.3s all ease-in-out;
}
.btn_danger {
  outline: none !important;
  border: none !important;
  padding: 8px 26px !important;
  font-weight: bold !important;
  border-radius: 30px !important;
  color: var(--white) !important;
  background: linear-gradient(90deg, #ff7c02 0%, #f02e2e 100%) !important;
  transition: 0.3s all ease-in-out;
}

.btn_danger:hover {
  background: linear-gradient(90deg, #fc2222 0%, #ff7c02 100%) !important;
  transition: 0.3s all ease-in-out;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 0 !important;
}

#nav__custom .dropdown-menu.dropdown-menu-light {
  box-shadow: var(--box-shadow-1) !important;
  border: none !important;
  margin-top: 0 !important;
}

#nav__custom .dropdown-menu a:hover {
  background: var(--white) !important;
  color: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

#nav__custom .dropdown-menu a {
  transition: 0.3s all ease-in-out;
  padding-left: 10px !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
