.av {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon_wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ff593c44;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.img {
  width: 100%;

  /* filter: invert(70%) sepia(55%) saturate(3127%) hue-rotate(316deg)
    brightness(99%) contrast(96%); */
}

.icon {
  width: 40px;
  height: 40px;
}
