.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
}

.filter {
  position: relative;
  background: var(--white);
  box-shadow: var(--box-shadow-1);
  height: 120px;
  width: 70%;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

:global(.mantine-Select-wrapper input) {
  height: 60px;
  color: var(--dark);
  font-size: 20px;
}

:global(.mantine-Select-wrapper input::placeholder) {
  color: var(--dark) !important;
}
:global(.mantine-Slider-root) {
  margin-top: 8px;
}

.range {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 20px;
    transform: translateY(0);
    position: relative;
  }
  .filter {
    width: 90%;
    flex-direction: column;
    height: auto !important;
    padding: 20px;
  }
  .range {
    width: 100%;
  }

  :global(.mantine-Select-wrapper input) {
    height: 40px;
    color: var(--dark);
    font-size: 14px;
    margin-bottom: 20px;
  }
}
