.crd {
  padding: 20px 10px;
  border-radius: 5px;
  border-left: 4px solid var(--primary) !important;
  box-shadow: var(--box-shadow-1);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  color: var(--primary);
}

.title {
  font-size: 18px;
}

.count {
  font-size: 24px;
  font-weight: 600;
}
